<a href="https://colab.research.google.com/github/AugustineSengodayan/CPE-21A-PLD-1-2/blob/main/Fundamentals_of_Computing_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables and Data Types**

In [37]:
#Numbers
varNum = 123
pi = 3.14159

In [36]:
#Strings
varString = "Hello World!"
varText = "This is a String"

In [35]:
#Lists
varList= ["abc", 123]

In [34]:
#Tuples
varTuple = ("abc", 123, "Hello")
print(varTuple[1])

123

In [33]:
#Dictionaries
varDict = {"first":1, "2":"2nd", 3:var}
print(varDict["first"])

1

# **Arithmetic**

In [32]:
#Addition
a = 5 + 3
print(a)

8

In [31]:
#Subraction
b = 5 - 3
print(b)

2

In [30]:
#Multiplication
c = 5 * 3
print(c)

15

In [29]:
#Exponent
d = 5 ** 3
print(d)

125

In [28]:
#Division
e = 5 / 3
print(e)
f = 5 % 3
print(f)
g = 5 // 3
print(g)

1.6666666666666667
2
1

In [27]:
#Increment
h = 5
h += 1
print(h)

6

In [26]:
#decrement
i = 5
i -= 1
print(i)

4

In [25]:
#String Concatenation
j = "Hello " + "World!"
print(j)

Hello World!

In [24]:
#Complex Expressions
k = 3 + 5 - 6 * 2 / 4
print(k)

5.0

# **Conditional Statements**

In [23]:
#Boolean Conditions
x = True
if x:
  print("var x is True")
else:
  print("var x is False")

var x is True

In [22]:
#String Conditions
x = "Hello World!"
if x == "Hello World!":
  print("var x is Hello World!")
else:
  print("var x is not Hello World!")

var x is Hello World!

In [21]:
#Numerical Conditions
x = 10
if x == "10":
  print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")

var x is an integer

# **Loops**

In [20]:
#For Loops
for var in range(0, 5, 2):
  print(var)

0
2
4

In [19]:
#While Loops
var = 0
while var < 5:
  print(var)
  var += 2

0
2
4

In [18]:
#Nested Loops
x = 0
while x < 5:
  for y in range(0, x):
    print(y, end="")
  x += 1
  print()

0
01
012
0123

# **Functions**

In [17]:
#defining a function with a keyword
def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m 

remainder(10,4)

2

# **List**

In [16]:
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
print(varList[0])

1

In [15]:
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
print(varList[2])

A

In [14]:
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
print(varList[4])

Hello!

In [13]:
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
print(varList[5])

3.14159

In [12]:
#Adding data on the list
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
varList.append("World!")
print(varList[6])

World!

In [11]:
#Removing a data on the List
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
varList.append("World!")
varList.remove(pi)
print(varList[5])

World!

In [10]:
#Counting the data on the list
pi = 3.14159
varList = [1, 2, "A", "B", "Hello!", pi]
varList.append("World!")
len(varList)

7

# **Dictionaries**

In [9]:
var = "Hello World!"
varDict = {
    "name" : "August",
    "age" : 18,
    "birthday" : "13th October 2004",
    "color" : ["Black", "Blue"],
    "prompt" : var
}
print(varDict["name"])

August

In [8]:
var = "Hello World!"
varDict = {
    "name" : "August",
    "age" : 18,
    "birthday" : "13th October 2004",
    "color" : ["Black", "Blue"],
    "prompt" : var
}
print(varDict["age"])

18

In [7]:
var = "Hello World!"
varDict = {
    "name" : "August",
    "age" : 18,
    "birthday" : "13th October 2004",
    "color" : ["Black", "Blue"],
    "prompt" : var
}
print(varDict["color"][0])
print(varDict["color"][1])

Black
Blue

In [6]:
var = "Hello World!"
varDict = {
    "name" : "August",
    "age" : 18,
    "birthday" : "13th October 2004",
    "color" : ["Black", "Blue"],
    "prompt" : var
}
print(varDict["prompt"])

Hello World!

In [5]:
var = "Hello World!"
varDict = {
    "name" : "August",
    "age" : 18,
    "birthday" : "13th October 2004",
    "color" : ["Black", "Blue"],
    "prompt" : var
}
len(varDict)

5

# **List Generators and Comprehension**

In [2]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1
gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [3]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var  in varList])

[0, 2, 4]

In [4]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = range(0, 5, 2)
print([var for var  in varList])

[0, 2, 4]

# **Slicing**

In [43]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [42]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[5:])

[6, 7, 8, 9, 10]

In [44]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [45]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[-2:])

[9, 10]

In [46]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [47]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[2:8:2])

[3, 5, 7]